# Python virtual environments
venv/
venv-staging/

# Python cache
__pycache__/
*.pyc

# Environment variables / secrets
.env

# OS junk
.DS_Store

# IDE/project files
.vscode/
.idea/
*.swp
team-coach-app-test/
